@model IssueTracker.Web.Models.ViewModels.Home.LogOnViewModel

@section Content {
    @if (!string.IsNullOrEmpty(Model.Message)) {
    <div class="alert-danger">
        @Model.Message
    </div>
    }
    @using (Html.BeginForm()) {
    <fieldset>
        <legend>User credentials</legend>
        <div>
            Your username:
            @Html.TextBox("username")</div>
        <div>
            Your password:
            @Html.Password("password")</div>
    </fieldset>
    <button>
        Log in</button>
    } 
}

