@using System.Globalization
@model IssueTracker.Web.ViewModels.Issue.DetailsCommentPartialViewModel
<div style="float: right;">
    <span class="label label-info">@Model.Creator</span> <span class="label">@Model.DateOfCreation.ToString(CultureInfo.CurrentCulture)</span>
</div>
<span class="label label-success" style="white-space: normal;">
    @Html.Raw(Model.StatusText)
</span>
<span class="label label-default" style="white-space: normal;">
    @Model.Text
</span>
