<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <p class="navbar-text">
            Issuetracker @System.Reflection.Assembly.GetAssembly(typeof(IssueTracker.Utils)).GetName().Version.ToString() | &copy; 2008 - 2012 ePunkt, Hannes Sachsenhofer
        </p></div>
    </div>
</div>
