@using System.Globalization
@using ePunkt.Utilities
@model ePunkt.IssueTracker.ViewModels.Issue.DetailsCommentPartialViewModel

<td><span class="label label-warning">@Model.DateOfCreation.ToString(CultureInfo.CurrentCulture)</span></td>
<td><span class="label" style="color:#ccc; font-weight: normal;">@Model.Creator</span> </td>
<td>
    @Html.Raw(Model.StatusText)
    @if (Model.Text.HasValue())
    {<pre>@Model.Text</pre>}
</td>
