@model ePunkt.IssueTracker.Web.ViewModels.Issue.IndexViewModel

<div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add comment / send notification</h4>
            </div>
            @using (Html.BeginForm("Update", "Issue", new { id = Model.Id }))
            {
                <text>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="text" class="control-label">Comment text</label>
                            <textarea name="text" class="form-control" style="height:100px;"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="notification" class="control-label">Send notification to</label>
                            <input type="text" name="notification" class="form-control" list="emailAddresses" />
                        </div>

                        <datalist id="emailAddresses">
                            @foreach (var email in Model.AvailableEmailAddresses)
                            {
                                <option value="@email" />
                            }
                        </datalist>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </text>
            }
        </div>
    </div>
</div>