@model ePunkt.IssueTracker.Models.TagRule

<h2>Delete tagging rule '@Model.Tag'</h2>


<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
